@mixin dashboard-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);

  app-dashboard {
  }

  app-general-summary,
  app-employee-overview,
  app-employees-container {
    .title {
      font-weight: 500;
      color: mat-color($accent, 700);
    }
  }

  app-employee-overview {
    .card-title {
      font-weight: 500;
      color: mat-color($primary, 700);
    }
  }

  .link {
    color: mat-color($primary, 700);
  }
}
