$custom-primary: (
  50 : #f4f3ff,
  100 : #e3e1ff,
  200 : #d1cdff,
  300 : #beb9fe,
  400 : #b0aafe,
  500 : #a29bfe,
  600 : #9a93fe,
  700 : #9089fe,
  800 : #867ffe,
  900 : #756dfd,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #f4f4ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$custom-accent: (
  50 : #e3f9f9,
  100 : #b9f1f1,
  200 : #8be7e7,
  300 : #5ddddd,
  400 : #3ad6d6,
  500 : #17cfcf,
  600 : #14caca,
  700 : #11c3c3,
  800 : #0dbdbd,
  900 : #07b2b2,
  A100 : #ddffff,
  A200 : #aaffff,
  A400 : #77ffff,
  A700 : #5dffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$custom-green: (
  50 : #e4f2ec,
  100 : #bbdfd0,
  200 : #8ec9b0,
  300 : #61b390,
  400 : #3fa379,
  500 : #1d9361,
  600 : #1a8b59,
  700 : #15804f,
  800 : #117645,
  900 : #0a6433,
  A100 : #96ffc1,
  A200 : #63ffa3,
  A400 : #30ff85,
  A700 : #17ff75,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
