$custom-blue: (
  50 : #e1f3fc,
  100 : #b3e1f8,
  200 : #81cdf3,
  300 : #4fb9ee,
  400 : #29aaea,
  500 : #039be6,
  600 : #0393e3,
  700 : #0289df,
  800 : #027fdb,
  900 : #016dd5,
  A100 : #fcfeff,
  A200 : #c9e2ff,
  A400 : #96c6ff,
  A700 : #7db8ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
$custom-orange: (
  50 : #fee0c5,
  100 : #fecb9e,
  200 : #fdb677,
  300 : #fca659,
  400 : #fc963c,
  500 : #ff6500,
  600 : #ff6500,
  700 : #fb832e,
  800 : #fb7927,
  900 : #fa681a,
  A100 : #ffffff,
  A200 : #fffbf9,
  A400 : #ffd8c6,
  A700 : #ffc7ad,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
$custom-green: (
  50 : #e4f2ec,
  100 : #bbdfd0,
  200 : #8ec9b0,
  300 : #61b390,
  400 : #3fa379,
  500 : #1d9361,
  600 : #1a8b59,
  700 : #15804f,
  800 : #117645,
  900 : #0a6433,
  A100 : #96ffc1,
  A200 : #63ffa3,
  A400 : #30ff85,
  A700 : #17ff75,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
