mat-table.table {
  z-index: 5;
  position: relative;

  .row {
    height: 38px;
    min-height: 38px;

    &--header {
      height: 38px;
      min-height: 38px;

      .cell {
        &--actions {
          padding-right: 2.125rem;
        }
      }
    }
  }
}
