<ng-container *ngIf="employees">
  <mat-table class="table" [dataSource]="employees">
    <ng-container matColumnDef="name">
      <mat-header-cell class="cell cell--name" *matHeaderCellDef>
        Name
      </mat-header-cell>
      <mat-cell class="cell cell--name" *matCellDef="let data">
        {{data.name}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="status">
      <mat-header-cell class="cell cell--status" *matHeaderCellDef>
        Status
      </mat-header-cell>
      <mat-cell class="cell cell--status" *matCellDef="let data">
        {{data.active ? 'active' : 'inactive'}} {{data._id}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell class="header-cell cell--actions justify-content-end" *matHeaderCellDef>
        Actions
      </mat-header-cell>
      <mat-cell class="cell cell--actions justify-content-end" *matCellDef="let data">
        <button mat-button (click)="onRowSelect()">
          View
        </button>
      </mat-cell>
    </ng-container>
    <mat-header-row class="row row--header"
                    *matHeaderRowDef="displayedColumns; sticky: true">
    </mat-header-row>
    <mat-row class="row row--hover dc-table__row--even-odd"
             [class.row--suspended]="false"
             *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>
</ng-container>
